<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>VoterId</display-name>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.voter.user.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
     <servlet>
    <servlet-name>NewUser</servlet-name>
    <servlet-class>com.voter.user.RegisterNewUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUser</servlet-name>
    <url-pattern>/NewUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckHintAnswer</servlet-name>
    <servlet-class>com.voter.user.CheckHintAnswer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckHintAnswer</servlet-name>
    <url-pattern>/CheckHintAnswer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserName</servlet-name>
    <servlet-class>com.voter.user.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserName</servlet-name>
    <url-pattern>/user</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>VoterRegistration</servlet-name>
    <servlet-class>com.voter.registration.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoterRegistration</servlet-name>
    <url-pattern>/VoterRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>print</servlet-name>
    <servlet-class>com.voter.registration.PrintFormDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>print</servlet-name>
    <url-pattern>/usernameone</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>status</servlet-name>
    <servlet-class>com.voter.registration.VoterStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>status</servlet-name>
    <url-pattern>/usernametwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.voter.admin.CheckUserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/pending</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.voter.admin.ApprovedForms</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/Details</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>website.html</welcome-file>
  </welcome-file-list>
</web-app>